@import "tailwindcss";

@keyframes slowFloat {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-40px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.animate-bg {
  animation: slowFloat 30s ease-in-out infinite;
}
